html {
  font-size: 19px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 1800px;
  margin: 0 auto;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  font-family: 'Exo 2', sans-serif;
}

.body2{
  padding: 1rem;
  text-align: center;
}

.navbar{
  width: 100%;
  overflow: hidden;
  z-index: 100;
  /* background-color: white; */
  background-color:rgba(255, 255, 255, 0);
}

.navbar_ext{
  width: 100%;
  overflow: hidden;
}

.navbar ul{
  list-style: none;
  overflow: hidden;
}
.navbar_ext ul{
  list-style: none;
  overflow: hidden;

}

.navbar a{
 float:right;
 width: 13%;
 margin: 0.2%;
 text-align: center;
 padding: 12px;
 color: black;
 background-color: white;
 border-color: #333;
 border-style: solid;
 border-radius:5px;
 text-decoration: none;
 font-size: 18px;
 display: block;
 overflow: hidden;
}

.navbar_ext a{
  float: left;
  width: 13%;
  margin: 0.2%;
  text-align: center;
  padding: 12px;
  color: black;
  background-color: white;
  border-color: #333;
  border-style: solid;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  overflow: hidden;

}

.navbar .icon {
  display: none;
}

.navbar a:hover {
  background-color: #555;
  color: white;
}

/* .parallax-container-1{
  position: absolute;
  display: block;
  justify-content: center;

} */

.parallax-container-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax{
  position: fixed;
  z-index: -2;
  /* min-height: 100vh; */
  /* max-width: 1200px; */
}

.parallax img{
  height: 100%;
  width: auto;
  /* width: 100%;
  height: 100%; */

}

.logo_sp{
  /* position: flex; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image1{
  display: flex;
  justify-content: center;
  align-items: center;

}
.image2{
  position: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;

}

.container{
  background-color:rgba(255, 255, 255, 0.5);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

h1{
text-align: center;
}

h2{
  text-align: center;
}


th, td, caption {
  border: 1px solid #333;
  font-family: 'Courier New', Courier, monospace;
  border-collapse: separate;
  padding: 0.5rem;
}

/* 29.10.23 */
#slider {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
}

#slider2 {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
}


#slider input[type=radio] {
  display: none;
}

#slider2 input[type=radio] {
  display: none;
}


#slider label {
  cursor:pointer;
  text-decoration: none;
}

#slider2 label {
  cursor:pointer;
  text-decoration: none;
}


#slides {
  padding: 10px;
  border: 3px solid #ccc;
  background: #fff;
  position: relative;
  z-index: 1;
}

#slides2 {
  padding: 10px;
  border: 3px solid #ccc;
  background: #fff;
  position: relative;
  z-index: 1;
}


#overflow {
  width: 100%;
  overflow: hidden;
}

#overflow2 {
  width: 100%;
  overflow: hidden;
}


#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
/* ergänzt für zweiten slider */
#slide2_1:checked ~ #slides2 .inner {
  margin-left: 0;
}
#slide2_2:checked ~ #slides2 .inner {
  margin-left: -100%;
}
#slide2_3:checked ~ #slides2 .inner {
  margin-left: -200%;
}
#slide2_4:checked ~ #slides2 .inner {
  margin-left: -300%;
}
/* ENDE: ergänzt für zweiten slider */

#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 350px;
}

#slides2 .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 350px;
}

#slides .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: whitesmoke;
}

#slides2 .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: whitesmoke;
}

#slides .slide_1 {
  background: #b1a880;
}

#slides2 .slide_1 {
  background: #b1a880;
}


#slides .slide_2 {
  background: #a88900;
}

#slides2 .slide_2 {
  background: #a88900;
}

#slides .slide_3 {
  background: #705c00;
}

#slides2 .slide_3 {
  background: #705c00;
}
#slides .slide_4 {
  background: #2e2300;
}

#slides2 .slide_4 {
  background: #2e2300;
}


#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}

#controls2 {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}


#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}

#controls2 label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}


#controls label:hover {
  opacity: 1;
}

#control2 label:hover {
  opacity: 1;
}


#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
/* ergänzt für zweiten slider */
#slide2_1:checked ~ #controls2 label:nth-child(2),
#slide2_2:checked ~ #controls2 label:nth-child(3),
#slide2_3:checked ~ #controls2 label:nth-child(4),
#slide2_4:checked ~ #controls2 label:nth-child(1) {
  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
/* ENDE: ergänzt für zweiten slider */
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  float:left;
  margin: 0 0 0 -50px;
  display: block;
}
/* ergänzt für zweiten slider */
#slide2_1:checked ~ #controls2 label:nth-last-child(2),
#slide2_2:checked ~ #controls2 label:nth-last-child(3),
#slide2_3:checked ~ #controls2 label:nth-last-child(4),
#slide2_4:checked ~ #controls2 label:nth-last-child(1) {
  float:left;
  margin: 0 0 0 -50px;
  display: block;
}
/* ENDE: ergänzt für zweiten slider */
#bullets {
  margin: 150px 0 0;
  text-align: center;
}

#bullets2 {
  margin: 150px 0 0;
  text-align: center;
}


#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: #ccc;
  margin: 0 10px;
}

#bullets2 label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: #ccc;
  margin: 0 10px;
}


#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #444;
}
/* ergänzt für zweiten slider */
#slide2_1:checked ~ #bullets2 label:nth-child(1),
#slide2_2:checked ~ #bullets2 label:nth-child(2),
#slide2_3:checked ~ #bullets2 label:nth-child(3),
#slide2_4:checked ~ #bullets2 label:nth-child(4) {
  background: #444;
}
/* ENDE: ergänzt für zweiten slider */

/* Kontakt.html */
.absenden{
  font-size: large;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  background: white;
}



@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1)
/* ergänzt für zweiten slider */
  #slide2_1:checked ~ #controls2 label:nth-child(2),
  #slide2_2:checked ~ #controls2 label:nth-child(3),
  #slide2_3:checked ~ #controls2 label:nth-child(4),
  #slide2_4:checked ~ #controls2 label:nth-child(1),
  #slide2_1:checked ~ #controls2 label:nth-last-child(2),
  #slide2_2:checked ~ #controls2 label:nth-last-child(3),
  #slide2_3:checked ~ #controls2 label:nth-last-child(4),
  #slide2_4:checked ~ #controls2 label:nth-last-child(1)
/* ENDE: ergänzt für zweiten slider */
  {
     margin: 0;
  }
  #slides {
     max-width: calc(100% - 40px);
     margin: 0 auto;
     font-size: medium;
  }

  #slides2 {
    max-width: calc(100% - 40px);
    margin: 0 auto;
    font-size: medium;
 }


}

/* ENDE 29.10.2023 */
@media screen and (max-width: 970px) {
  .navbar a.icon {
    float: right;
    display: block;
  }
  .navbar ul{
    display: none
  }

  .navbar.responsive {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .navbar.responsive ul {
    width: 400%;
    display:block;

    list-style: none;
  }

  .navbar.responsive ul li{
    margin-right: 20px;
  }

  .navbar.responsive ul li a{
    text-decoration: none;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float:none;
    text-align: center;
    list-style: none;
  }

  .logo_sp{
    width: 100%;
  }
}