html {
  font-size: 19px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 1800px;
  margin: 0 auto;
  /* border-left: 1px solid #333;
  border-right: 1px solid #333; */
  font-family: 'Exo 2', sans-serif;
}

.text p{
  display: inline;
  margin: 0px;
}

.body2{
  padding: 1rem;
  text-align: center;
}

.navbar{
  width: 100%;
  overflow: hidden;
  z-index: 100;
  /* background-color: white; */
  background-color:rgba(255, 255, 255, 0);
}

.navbar_ext{
  width: 100%;
  overflow: hidden;
}

.navbar ul{
  list-style: none;
  overflow: hidden;
}
.navbar_ext ul{
  list-style: none;
  overflow: hidden;

}

.navbar a{
 float: left;
 width: 14.5%;
 margin: 0.2%;
 text-align: center;
 padding: 6px;
 color: black;
 background-color: white;
 border-style: solid;
 border-width: 2px;
 border-radius:5px;
 text-decoration: none;
 font-size: 18px;
 display: block;
 overflow: hidden;
}

.navbar_ext a{
  float: left;
  width: 14.5%;
  min-width: 50px;
  margin: 0.2%;
  text-align: center;
  padding: 6px;
  color: black;
  background-color: white;
  border-style: solid;
  border-width: 2px;;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  overflow: hidden;

}

.navbar .icon {
  display: none;
}

.navbar a:hover {
  background-color: #555;
  color: white;
}

/* .parallax-container-1{
  position: absolute;
  display: block;
  justify-content: center;

} */

.parallax-container-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax{
  position: fixed;
  z-index: -2;
  /* min-height: 100vh; */
  /* max-width: 1200px; */
}

.parallax img{
  height: 100%;
  width: auto;
  /* width: 100%;
  height: 100%; */

}

.logo_sp{
  /* position: flex; */
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.image1{
  display: flex;
  justify-content: center;
  align-items: center;

}
.image2{
  position: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;

}

.container{
  background-color:rgba(255, 255, 255, 0.9);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  border: 1px solid white;
  border-radius: 5px;
}

fieldset{
  border-radius: 5px;
}

input[type=text], select, textarea{
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: inherit;
}

input[type=email], select, textarea{
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: inherit;

}

textarea{
  font-family: inherit;
  font-size: inherit;
}

/* label{
  padding: 12px 12px 12px 0;
  display: inline-block;
} */


.col-25{
  float: left;
  width: 35%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 65%;
  margin-top: 6px;
}


h1{
text-align: center;
}

h2{
  text-align: center;
}


th, td, caption {
  border: 1px solid #333;
  font-family: 'Courier New', Courier, monospace;
  border-collapse: separate;
  padding: 0.5rem;
}

#slider {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
}
#slider2 {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
}
#slider3 {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
}

#slider input[type=radio] {
  display: none;
}
#slider2 input[type=radio] {
  display: none;
}
#slider3 input[type=radio] {
  display: none;
}



#slider label {
  cursor:pointer;
  text-decoration: none;
}
#slider2 label {
  cursor:pointer;
  text-decoration: none;
}
#slider3 label {
  cursor:pointer;
  text-decoration: none;
}



#slides {
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 10px;
  background: #fff;
  position: relative;
  z-index: 1;
}
#slides2 {
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 10px;
  background: #fff;
  position: relative;
  z-index: 1;
}
#slides3 {
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 10px;
  background: #fff;
  position: relative;
  z-index: 1;
}



#overflow {
  width: 100%;
  overflow: hidden;
}
#overflow2 {
  width: 100%;
  overflow: hidden;
}
#overflow3 {
  width: 100%;
  overflow: hidden;
}



#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
/* #slide4:checked ~ #slides .inner {
  margin-left: -300%;
} */
/* ergänzt für zweiten slider */
#slide2_1:checked ~ #slides2 .inner {
  margin-left: 0;
}
#slide2_2:checked ~ #slides2 .inner {
  margin-left: -100%;
}
#slide2_3:checked ~ #slides2 .inner {
  margin-left: -200%;
}
#slide2_4:checked ~ #slides2 .inner {
  margin-left: -300%;
}
#slide2_5:checked ~ #slides2 .inner {
  margin-left: -400%;
}
#slide2_6:checked ~ #slides2 .inner {
  margin-left: -500%;
}
/* ENDE: ergänzt für zweiten slider */
/* ergänzt für dritten slider */
#slide3_1:checked ~ #slides3 .inner {
  margin-left: 0;
}
#slide3_2:checked ~ #slides3 .inner {
  margin-left: -100%;
}
#slide3_3:checked ~ #slides3 .inner {
  margin-left: -200%;
}
/* #slide3_4:checked ~ #slides3 .inner {
  margin-left: -300%;
} */
/* ENDE: ergänzt für dritter slider */

#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 350px;
}
#slides2 .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 600%; /*17.11.2023 */
  line-height: 0;
  height: 350px;
}
#slides3 .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 350px;
}


#slides .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* color: whitesmoke; */
  border-radius: 5px;
}
#slides2 .slide {
  width: 16.6667%; /* 17.11.2023 */
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* color: whitesmoke; */
  border-radius: 5px;
}
#slides3 .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* color: whitesmoke; */
  border-radius: 5px;
}


#slides .slide_1 {
  background: #cfbeaa;
}
#slides2 .slide_1 {
  background: #cfbeaa;
}
#slides3 .slide_1 {
  background: #cfbeaa;
}



#slides .slide_2 {
  background: #dcd4ca;
}
#slides2 .slide_2 {
  background: #dcd4ca;
}
#slides3 .slide_2 {
  background: #dcd4ca;
}


#slides .slide_3 {
  background: #c8b9a5;
}
#slides2 .slide_3 {
  background: #c8b9a5;
}
#slides3 .slide_3 {
  background: #c8b9a5;
}

#slides .slide_4 {
  background: #e7eaed;
}
#slides2 .slide_4 {
  background: #e7eaed;
}
#slides3 .slide_4 {
  background: #e7eaed;
}

#slides2 .slide_5 {
  background: #dbd1c3;
}

#slides2 .slide_6 {
  background: #b2a187;
}



#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls2 {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls3 {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}



#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;

}
#controls2 label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
#controls3 label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}



#controls label:hover {
  opacity: 1;
}
#controls2 label:hover {
  opacity: 1;
}
#controls3 label:hover {
  opacity: 1;
}


#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(1){
/* #slide4:checked ~ #controls label:nth-child(1) { */
  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
/* ergänzt für zweiten slider */
#slide2_1:checked ~ #controls2 label:nth-child(2),
#slide2_2:checked ~ #controls2 label:nth-child(3),
#slide2_3:checked ~ #controls2 label:nth-child(4),
#slide2_4:checked ~ #controls2 label:nth-child(5),
#slide2_5:checked ~ #controls2 label:nth-child(6),
#slide2_6:checked ~ #controls2 label:nth-child(1){
  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
/* ENDE: ergänzt für zweiten slider */
/* ergänzt für dritten slider */
#slide3_1:checked ~ #controls3 label:nth-child(2),
#slide3_2:checked ~ #controls3 label:nth-child(3),
#slide3_3:checked ~ #controls3 label:nth-child(1){
/* #slide3_4:checked ~ #controls3 label:nth-child(2){ */
  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
/* ENDE: ergänzt für dritten slider */

#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(2){
/* #slide4:checked ~ #controls label:nth-last-child(2) { */
  float:left;
  margin: 0 0 0 -50px;
  display: block;
}
/* ergänzt für zweiten slider */
#slide2_1:checked ~ #controls2 label:nth-last-child(1),
#slide2_2:checked ~ #controls2 label:nth-last-child(6),
#slide2_3:checked ~ #controls2 label:nth-last-child(5),
#slide2_4:checked ~ #controls2 label:nth-last-child(4),
#slide2_5:checked ~ #controls2 label:nth-last-child(3),
#slide2_6:checked ~ #controls2 label:nth-last-child(2){
  float:left;
  margin: 0 0 0 -50px;
  display: block;
}
/* ENDE: ergänzt für zweiten slider */
/* ergänzt für dritten slider */
#slide3_1:checked ~ #controls3 label:nth-last-child(1),
#slide3_2:checked ~ #controls3 label:nth-last-child(3),
#slide3_3:checked ~ #controls3 label:nth-last-child(2){
/* #slide3_4:checked ~ #controls3 label:nth-last-child(2){ */
  float:left;
  margin: 0 0 0 -50px;
  display: block;
}
/* ENDE: ergänzt für dritten slider */



#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets2 {
  margin: 150px 0 0;
  text-align: center;
}
#bullets3 {
  margin: 150px 0 0;
  text-align: center;
}

#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: #ccc;
  margin: 0 10px;
}
#bullets2 label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: #ccc;
  margin: 0 10px;
}
#bullets3 label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius:100%;
  background: #ccc;
  margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3){
/* #slide4:checked ~ #bullets label:nth-child(4) { */
  background: #444;
}
/* ergänzt für zweiten slider */
#slide2_1:checked ~ #bullets2 label:nth-child(1),
#slide2_2:checked ~ #bullets2 label:nth-child(2),
#slide2_3:checked ~ #bullets2 label:nth-child(3),
#slide2_4:checked ~ #bullets2 label:nth-child(4),
#slide2_5:checked ~ #bullets2 label:nth-child(5),
#slide2_6:checked ~ #bullets2 label:nth-child(6){
  background: #444;
}
/* ENDE: ergänzt für zweiten slider */
/* ergänzt für dritten slider */
#slide3_1:checked ~ #bullets3 label:nth-child(1),
#slide3_2:checked ~ #bullets3 label:nth-child(2),
#slide3_3:checked ~ #bullets3 label:nth-child(3){
/* #slide3_4:checked ~ #bullets3 label:nth-child(4){ */
  background: #444;
}
/* ENDE: ergänzt für dritten slider */


/* Kontakt.html */
.absenden{
  font-size: large;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  background: white;
}

.external_icons a{
  text-decoration: none;
}

@media screen and (max-width: 970px) {

  #slides {
     max-width: calc(100% - 40px);
     margin: 0 auto;
     font-size: medium;
  }

  #slides2 {
    max-width: calc(100% - 40px);
    margin: 0 auto;
    font-size: medium;
 }
}


@media screen and (max-width: 970px) {
  .navbar{
    display: flex;
    justify-content: center;
  }
  .navbar a.icon {
    text-decoration: none;
    display: block;
    width: 100px;
    list-style: none;

    justify-content: center;

  }
  .navbar ul{
    display: none
  }

  .navbar.responsive {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .navbar.responsive nav ul {
    width: 405%;
    display:block;
    list-style: none;
  }

  .navbar.responsive nav ul li a{
    text-decoration: none;
    margin-right: 60px;
    float: none;
  }

  .navbar.responsive .icon {
    /* position: relative;
    right: 0;
    top: 0; */

    text-decoration: none;
    float: none;

    width: 100px;
    display:block;
    list-style: none;

  }

}