html {
    font-size: 22px;
}

body {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    
    font-family: 'Exo 2', sans-serif;
}

h1{
    text-align: center;

}

#navbar{
    background-image: url("/img/makeup1.jpg");
}
.navbar{
    width: 100%;
    overflow: auto;
}
.navbar_ext{
    width: 100%;
    overflow: auto;
}

.navbar ul{
    list-style: none;
}
.navbar_ext ul{
    list-style: none;
}

.navbar a{
   float: right;
   width: 12%;
   margin: 0.2%;
   text-align: center;
   padding: 12px;
   color: black;
   background-color: #005f3c49;
   border-radius: 5px;
   text-decoration: none;
   font-size: 25px;
 }
 .navbar_ext a{
    float: left;
    width: 10%;
    margin: 0.2%;
    text-align: center;
    padding: 12px;
    color: black;
    background-color: #005f3c49;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
  }
 
.navbar a:hover{
    background-color: #005f3cd0
 }

 .logo_sp{
    /* float: left; */
    position: absolute;
    margin-left: 0px;
 }
/* .active {
    background-color: #04AA6D;
} */

th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}